services:
  backend:
    build: ./backend
    container_name: facial-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/known_faces:/app/known_faces
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: facial-frontend
    expose:
      - "80"
    depends_on:
      - backend
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: web-proxy
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    restart: unless-stopped